<!DOCTYPE html>
<html>
<head>
  <title>Actualités des jeux vidéo</title>
  <!-- News page -->
</head>
<body>
    
  <div class="main-container">
    <div class="container">
      <div class="box">
        <h1>Actualités des jeux vidéo</h1>
        
        <div class="article">
          <h2>Nouveau jeu passionnant annoncé</h2>
          <p>Un nouveau jeu passionnant a été annoncé aujourd'hui. Il promet d'offrir une expérience de jeu immersive avec des graphismes de pointe et une histoire captivante. Ne manquez pas cette sortie prévue pour le mois prochain !</p>
        </div>
        
        <div class="article">
          <h2>Mise à jour majeure pour un jeu populaire</h2>
          <p>Un jeu populaire vient de recevoir une mise à jour majeure. Cette mise à jour apporte de nouvelles fonctionnalités passionnantes, des améliorations de gameplay et des corrections de bugs. Les joueurs sont impatients de découvrir tout ce que cette mise à jour a à offrir.</p>
        </div>
        
        <div class="article">
          <h2>Interview exclusive avec un développeur de jeux</h2>
          <p>Nous avons eu l'occasion de discuter avec un développeur renommé de l'industrie du jeu vidéo. Dans cette interview exclusive, il partage des informations intéressantes sur son dernier projet, les défis auxquels il a été confronté et ses perspectives pour l'avenir de l'industrie.</p>
        </div>
      </div>
      
      <div class="container">
        <div class="box">
          <h1>Intérêt du site et origine </h1>
        
          <div class="article">
            <h2>Origine</h2>
            <p>L'idée du site provient d'un mélange d'idée du projet d'origine de WE4A. Nous avons fusionnés des groupes de projets, nous nous rapidement mis d'accord sur le site à réaliser.</p>
          </div>
        
          <div class="article">
            <h2>Intérêt du site</h2>
            <p>Le site est un croisement entre un "blog" et un site d'achat de jeux videos / notation de jeux vidéos. Depuis la page d'accueil on peut accéder aux jeux disponibles sur le site ou à la page de connexion.</p>
            <p>Ensuite, il est possible de noter, commenter des jeux comme on le souhaite. Il permet aussi à des développeurs d'ajouter leurs jeux et y entrant toutes les informations visibles sur la page d'un jeu (Nom, prix,composants etc...).</p> 
            <p>Nous avons divisé le groupe de projet par éléments à travailler sur le site (certains axés Backend, les autres frontend).</p>
            <h5>Projet disponible sur : <a href="https://github.com/loricR/WE4B-projet" target="_blank">GitHub</a></h5>
          </div>
