body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-image: url("https://wallpapercave.com/wp/wp8172866.jpg");
}

.main-container {
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
opacity: 0.8;
}

.container {
flex: 1;
display: flex;
justify-content: center;
align-items: center;

}

.box {
width: 500px;
padding: 20px;
background-color: #f5f5f5;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.box h2 {
color: #555;
}

.box p {
line-height: 1.5;
}