.card-group{
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    opacity: 1;
}
.card-group.img {
    width: 100%;
}
.game{
    box-sizing: border-box;
    width: 100%;
    margin: 20px auto;
    padding: 10px 30px;
}

div{
    width: 60%;
    margin: 20px auto;
    padding: 10px 30px;
}

.search-box {
	background-color: #f8f9fa;
	border: 1px solid #ced4da;
	padding: 10px;
	margin-bottom: 20px;
  }
  
  .search-box .input-group {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
  }
  
  .search-box .input-group .input-group-text {
	background-color: #e9ecef;
	border-color: #ced4da;
  }
  
  .search-box .search-container label {
	font-weight: bold;
  }
  
  .search-box .search-container input[type="text"] {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
  }

  .btn {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .btn:hover {
	background-color: #0056b3;
  }
  
  .btn:active {
	background-color: #004499;
  }
  
  .btn:focus {
	outline: none;
	box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
  }



  .user-search {
	margin-top: 20px;
  }
  
  table {
	width: 100%;
	border-collapse: collapse;
  }
  
  th,
  td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
  }
  
  th {
	background-color: #f2f2f2;
	font-weight: bold;
  }
  
  img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
  }
  
  a {
	text-decoration: none;
	color: #337ab7;
  }
  
  a:hover {
	text-decoration: underline;
  }
  
  .gradient-custom {
	background: #9eadc8;
	background: -webkit-linear-gradient(to right bottom, #9eadc8, #5b618a);
	background: linear-gradient(to right bottom, #9eadc8, #5b618a);
  }
  
  .alert {
	opacity: 1;
	transition: opacity 0.5s;
  }
  
  .alert.fade-out {
	opacity: 0;
  }
  
  .game-name {
	font-weight: normal;
	cursor: pointer;
  }
  
  .game-name:hover {
	color: blue;
  }
  
  h5 {
	text-align: center;
  }
  